html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  overscroll-behavior: none;
  background-color: black;
}

hr {
  width: 100%;
}

.hidden {
  display: none !important;
}

#play-menu {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  padding: 20px 30px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  text-align: center;
}

#play-menu p {
  margin-bottom: 0;
}

#play-menu input {
  font-size: 18px;
  outline: none;
  border: none;
  border-bottom: 1px solid black;
  margin-bottom: 5px;
  padding: 3px;
  text-align: center;
}

#play-menu input:hover {
  outline: none;
}

#play-menu button {
  font-size: 18px;
  outline: none;
  border: none;
  color: black;
  background-color: transparent;
  padding: 5px 20px;
  border-radius: 3px;
  transition: background-color 0.2s ease;
}

#play-menu button:hover {
  background-color: rgb(230, 230, 230);
}

#leaderboard {
  position: fixed;
  top: 10px;
  right: 10px;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 10px;
  border-radius: 5px;
}

#leaderboard th {
  text-align: center;
  padding: 2px 5px;
}

#leaderboard td {
  text-align: center;
  padding: 2px 5px;
}
