<!DOCTYPE html>
<html>
<head>
  <title>mfer game</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="shortcut icon" href="/assets/icon64.png">
  <meta property="description" content="mfer game.">
  <meta property="og:title" content="mfer game">
  <meta property="og:description" content="mfer game">
  <meta property="og:image" content="/assets/icon1200.png">
</head>
<body>
  <canvas id="game-canvas"></canvas>
  <div id="play-menu" class="hidden">
    <img src="<%= require('./mfer-blaster-logo.png') %>" width=250 height=104 alt="MFER BLAST" />
    <hr/>
    <div class="row">
        <input type="text" id="name-input" placeholder="name" />
    </div>
    <div class="row">
        <input type="text" id="mfer-input" placeholder="mfer id" />
    </div>
    <div class="row">
        <button id="play-button">PLAY</button>
    </div>
    <hr />
    <div class="holder">
      <p>Created with <strong>♡</strong> by:</p>
      <p><strong><a href="https://twitter.com/outerlumen">@outerlumen</a></strong></p>
      <p><strong><a href="https://twitter.com/dividebyzeroeth">@dividebyzeroeth</a></strong></p><BR>
      <p>Donations: <strong><a href="https://etherscan.io/address/0xda8cb96ef0da5f2828324768a1571ce8aa521d91">splootyloo.eth</a></strong></p>
    </div>
  </div>
  <div id="leaderboard" class="hidden">
    <img src="<%= require('./mfer-blaster-logo.png') %>" width=200 height=83 alt="MFER BLAST" />
    <hr />
    <table>
      <tr>
        <th>Name</th>
        <th>Blasted</th>
      </tr>
      <tr><td></td><td></td></tr>
      <tr><td></td><td></td></tr>
      <tr><td></td><td></td></tr>
      <tr><td></td><td></td></tr>
      <tr><td></td><td></td></tr>
    </table>
  </div>
  <div id="disconnect-modal" class="hidden">
    <div>
      <h2>Disconnected from Server </h2>
      <hr />
      <button id="reconnect-button">RECONNECT</button>
    </div>
  </div>
</body>
</html>
