<!DOCTYPE html>
<html>
<head>
  <title>mfer blaster</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="shortcut icon" href="<%= require('./assets/icon72.png') %>">
  <meta property="description" content="blast fellow mfers.">
  <meta property="og:title" content="mfer blaster">
  <meta property="og:description" content="blast fellow mfers.">
  <meta property="og:image" content="<%= require('./assets/icon310.png') %>">
</head>
<body>
  <canvas id="game-canvas"></canvas>
  <div id="play-menu" class="hidden">
    <img src="<%= require('./assets/mfer-blaster-logo.png') %>" width=250 height=104 alt="MFER BLAST" />
    <hr/>
    <div class="row">
        <input type="text" id="name-input" placeholder="name" />
    </div>
    <div class="row">
        <input type="text" id="mfer-input" placeholder="mfer id" />
    </div>
    <div class="row">
        <button id="play-button">PLAY</button>
    </div>
    <hr />
    <div class="holder">
      <p>Created with <strong>&#x1F5A4;</strong> by:</p>
      <p><strong><a href="https://twitter.com/outerlumen">@outerlumen</a></strong></p>
      <p><strong><a href="https://twitter.com/dividebyzeroeth">@dividebyzeroeth</a></strong></p><BR>
      <p>source on <strong><a href="https://github.com/dividebyzeroeth/mfer-blast">github</a></strong></p>
      <p>tip little lumen at  <strong><a href="https://etherscan.io/address/0xda8cb96ef0da5f2828324768a1571ce8aa521d91">splootyloo.eth</a></strong></p>
    </div>
  </div>
  <div id="leaderboard" class="hidden">
    
      <img src="<%= require('./assets/mfer-blaster-logo.png') %>" alt="MFER BLAST" />
    
    <hr />
    <table>
      <tr>
        <th>Name</th>
        <th>Blasted</th>
      </tr>
      <tr><td></td><td class="blast"></td></tr>
      <tr><td></td><td class="blast"></td></tr>
      <tr><td></td><td class="blast"></td></tr>
      <tr><td></td><td class="blast"></td></tr>
      <tr><td></td><td class="blast"></td></tr>
    </table>
   
  </div>
  <div id="disconnect-modal" class="hidden">
    <div>
      <h2>Disconnected from Server </h2>
      <hr />
      <button id="reconnect-button">RECONNECT</button>
    </div>
  </div>
</body>
</html>
